<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="AHDBService.AHDBService">
                <endpoint address="HelloService" binding="basicHttpBinding" bindingConfiguration=""
                    contract="AHDBService.IAHDBService" />
                <endpoint address="HelloService" binding="netTcpBinding" bindingConfiguration=""
                    contract="AHDBService.IAHDBService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>